:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --line-color: #ececec;
  --white-color: #ffffff;
  --hover-button-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --fluoric-background-color: #2f303a;
  --fone-comand-color: #f5f4fa;
  --logo-studio-color: #000000;
}
/* ---------------------------------------------------------------СЕКЦИИ ЦВЕТОВ var------------------------------------------------- */
/* Ховер для кнопки  #188ce8 */
/* основной цвет текста #757575;  */
/* второстепенный цвет текста #212121; */
/* белый цвет #ffffff; */
/* цвет фона вторичный #2F303A; */
/* акцент #2196F3; */
/* цвет контакты футер color: rgba(255, 255, 255, 0.6); */
/* Цвет линия #ececec */
/*Фон команда #F5F4FA */
/* Часть цвета лого Web #000000 */

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* -------------------------------------------------------------СПРЯТАННЫЕ ЗАГОЛОВКИ h2,h1---------------------------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------------------------------------------------------ЛОГОТИП------------------------------------------------------------------ */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;

  text-decoration: none;
  line-height: 1.19;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.logo-span {
  color: var(--logo-studio-color);
}
.span-footer {
  color: var(--white-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
a {
  text-decoration: none;
}
/* -------------------------------------------------------------------ГЕРОЙ------------------------------------------------------------ */
.hero {
  background: var(--fluoric-background-color);
}
.decision {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--title-text-color);
}

.ul-site {
  color: var(--title-text-color);
}
.ul-site:hover,
.ul-site:focus {
  color: var(--accent-color);
}
ul {
  list-style: none;
}

/* ---------------------------------------------------------------КНОПКА ЗАКАЗАТЬ УСЛУГУ------------------------------------------------ */
.issue {
  background: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 4px;
  cursor: pointer;
}
.issue:hover,
.issue:focus {
  background: var(--hover-button-color);
}

/* -----------------------------------------------------------------ЧЕМ МЫ ЗАНИМАЕМСЯ------------------------------------------------------- */
.visually {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-transform: uppercase;
}
.list-p {
  line-height: 1.71;
}
.title-comand {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
}

/* -------------------------------------------------------------------НАША КОМАНДА------------------------------------------------ */
.section-employee {
  background: var(--fone-comand-color);
}
.title-list-employee {
  background: var(--white-color);
}
.title-list-employee h2 {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}
.team {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.employee {
  line-height: 1.19;
  font-size: 16px;
}

/* -------------------------------------------------------------------КНОПКА РАЗДЕЛ "ВСЕ"---------------------------------------------- */

.all {
  font-family: inherit;
  background-color: var(--fone-comand-color);
  color: var(--title-text-color);

  width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
}
.all:hover,
.all:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

/* --------------------------------------------------КНОПКИ РАЗДЕЛОВ "ВЕБ-САЙТЫ, "ПРИЛОЖЕНИЕ", "ДИЗАЙН", "МАРКЕТИНГ" --------------------------------------------------- */

.web-sites,
.applications,
.design,
.marketing {
  background-color: var(--fone-comand-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
  cursor: pointer;

  padding: 6px, 22px;
  margin: 174px 8px 50px 0px;
}
/* ----------------------------------------------------------ХОВЕРЫ И ФОКУСЫ КНОПОК РАЗДЕЛОВ------------------------------ */
.web-sites:hover,
.web-sites:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
.applications:hover,
.applications:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.design:hover,
.design:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.marketing:hover,
.marketing:focus {
  background: var(--accent-color);
  color: var(--white-color);
}
/* ----------------------------------------------------------------------ПРОЕКТЫ------------------------------------------------------------------- */
.name-project {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name-project a {
  font-family: inherit;
  text-decoration: none;
}
.project {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* -----------------------------------------------------------------------КОНТАКТЫ------------------------------------------------------------------------------- */
.contacts {
  color: var(--primary-text-color);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}
.tel {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mailto {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hidden-h2 {
  display: none;
}

/* -------------------------------------------------------------------ФУТЕР----------------------------------------------------------------*/
footer {
  background: var(--fluoric-background-color);
}

.contacts-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.mailto-footer:hover,
.mailto-footer:focus {
  color: var(--accent-color);
}
.mailto-footer {
  color: var(--footer-contacts-color);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  color: var(--footer-contacts-color);
  text-decoration: none;
}

.maps {
  color: var(--white-color);
}
.maps:hover,
.maps:focus {
  color: var(--accent-color);
}
